<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>TodoApp - Create A Todo With Django</title>
</head>

<body>
    <div class="container">
        <div>
            <div>
                <h1 class=" text-center text-6xl font-normal leading-normal mt-0 mb-2 text-lime-800">TodoApp</h1>
                <p class=" text-center text-s font-normal leading-normal mt-0 mb-2 uppercase">a Django todo app</p>
                <div class="flex flex-col justify-center items-center ml-96 mr-96  bg-white rounded-3xl border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="relative z-0 mb-6 w-full group">
                            <input type="text" name="description" id="description" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="" required>
                            <label for="description" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 ">AddTask</label>
                        </div>
                        <div class="grid md:grid-cols-2 md:gap-6">
                            <div class="relative z-0 mb-6 w-full group">
                                <div class="flex justify-center">
                                    <div class="mb-3 xl:w-96">
                                        <select id="category" class="taskCategory block px-3 form-select rounded-lg py-3  font-normal w-full ease-in-out text-base  text-gray-900 bg-gray-50  border border-solid border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" aria-label="Default select example" name="category_selelct">
                                            <option class="disabled" value="">Choose a category</option>
                                            {% for category in categories %}
                                            <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="relative z-0 mb-6 w-full group">
                                <input type="date" id="dueDate" name="date" class="taskDate block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                                <label for="dueDate" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Due Date</label>
                            </div>
                        </div>
                        <button type="submit" name="taskAdd" class=" taskAdd text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add Task</button>

                        <button type="submit" formnovalidate="" name="taskDelete" class=" taskDelete text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" onclick="$('input#sublist').click();">Delete Tasks</button>

                        <ul class="taskList">
                            {% for todo in todos %}
                            <li class="taskItem">
                                <input type="checkbox" name="checkedbox" id="{{todo.id}}" class="taskCheckbox" value="{{todo.id}}">
                                <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                                <span class="category-{{ todo.category }}">{{ todo.category }}</span>
                                <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.created }} -- {{ todo.due_date }}</strong>
                            </li>
                            {% endfor %}
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>